.footer {
    display: flex;
    flex-direction: column;

    &_top-row {
        max-width: var(--max-width);
        margin: 100px auto 40px auto;
        display: flex;
        gap: var(--gap-size);
        justify-content: flex-start;
        width: 100%;
        gap: var(--gap-size);

        &--column {
            position: relative;
            width: calc(100%/3);
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: var(--font-size-text);

            &__icons {
                display: flex;
                flex-direction: row;
                gap: var(--gap-size);
            }
        }
    }
}