.home {
    display: flex;
    flex-direction: column;

    &_teaser {
        position: relative;
        height: 700px;
        min-width: 100%;

        &-content {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            z-index: 980;
            position: relative;
            max-width: var(--max-width);
            width: 100%;
            margin: 0 auto;

            &--title {
                font-size: 40px;
                margin-bottom: 0px;
                width: fit-content;
                
                span {
                    color: var(--color-secondary);
                }
            }

            &:hover &--arrow{
                animation: moveArrow 1s ease-in-out infinite;
            }
        }
    }

    &_search {
        height: 235px;
        background-color: var(--color-black);
        margin: 0 auto;
        max-width: var(--max-width);
        transform: translate(0, -50%);
        width: 100%;
        padding: 0 100px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;

        &--title {
            margin: 0 0 10px 0;
            color: var(--color-text--alt);
        }

        &-section {
            background-color: var(--color-primary);
        }

        &--inputs {
            display: flex;
            justify-content: space-between;
            gap: 20px;

            .search-field {
                width: 100%;
            }
        }
    }

    &_tours {
        margin: 0 auto;
        max-width: var(--max-width);
        margin-bottom: 110px;

        &-section {
            background: var(--color-primary);
        }

        &-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            &--right {
                display: flex;
                
                &-arrow  {
                    margin-left: 20px;
                }

                &:hover &-arrow {
                    animation: moveArrowAlt 1s ease-in-out infinite;
                }
            }
            
            span {
                color: var(--color-secondary);
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            &--top-row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
            }

            &--bottom-row{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 20px;
            }
        }
    }
}

@keyframes moveArrow {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(20px, 0);
    }
}

@keyframes moveArrowAlt {
    0%,
    100% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(-10px, 0);
    }
}