.hb-images--grid {
    display: grid;
    position: relative;
    grid-template-columns: var(--col, 1fr 1fr);
    grid-template-rows: var(--row, auto);
    gap: 1rem;
    overflow: hidden;
    max-height: calc(350px * 2 + 1rem);

    div {
        height: 100%;
        min-height: 350px;
        width: 100%;
        position: relative;

        img {
            object-fit: cover;
        }
    }

    .first-image {
        grid-column: span 2;
        grid-row: span 2;
    }
}

.property {
    background-color: var(--color-white);

    &_teaser-section {
        position: relative;
        width: 100%;
        height: 450px;
    }

    &_preview-section {
        max-width: var(--max-width);
        margin: 100px auto;

        &--title {
            margin-bottom: 40px;

            p{
                margin: 5px 0;
            }

            h1{
                margin: 0;
            }
        }
    }

    &_information-section{
        max-width: var(--max-width);
        margin: 0 auto;

        &--tab-content {
            display: none;
        }
    }

    &_content-section {
        max-width: var(--max-width);
        margin: 0 auto;
    }

    &_highlighted-section{
        margin-top: 500px;
        background-color: var(--color-black);
    }
}